<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <!-- Brand -->
  <a class="navbar-brand" href="#">
    <img src="./assets/images/logo_brand.svg" alt="Logo" width="120px">
  </a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <img src="./assets/images/icon_home.png" alt="Logo" >
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          
          EARN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">REEDEM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CHAT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="./assets/images/icon_get-the-app.png" alt="Logo" >
          GET THE APP</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">LOGIN</a>
      </li>
       <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">My Account</a>
        <a class="dropdown-item" href="#">Logout</a>
      </div>
    </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <img src="./assets/images/icon_settings.png" alt="Logo" >
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <img src="./assets/images/icon_user.png" alt="Logo" >
        </a>
      </li>
    
      
    </ul>
  </div>
</nav>