<div class="contianer">

  <app-navbar></app-navbar>
  <div class="jumbotron jumbotron-fluid bg-home-main mt80">
    <div class="container">
      <div class="row">
        <div class="col-md-8 "><img src="./assets/images/banner_logo.png" style="margin-top: 5%;" alt="" class="img-responsive d-block mx-auto"
          />
          <p class="lead  text-center" style="margin-bottom: 18%;">LifeTap- Get free gift Cards.</p>
          <p class="lead  text-center" style="font-size: 25px; top: 90%; font-weight: bold;">Enjoy LifeTap anywhere</p>
          <p class="text-center">

            <a href="#" target="_blank"><img
								src="./assets/images/btn_playstore.png" width="25% " height="15%"
								style="margin-right: 5%" class="app-download-button" alt=""></a>
            <a href="#" target="_blank">
                <img
								src="./assets/images/btn_appstore.png" width="25%" height="auto"
								class="app-download-button" alt=""></a>


          </p>
        </div>
        <div class="col-md-4">
          <div class="card text-black">
            <div class="card-header">
              Sign Up now to earn your gift cards!
            </div>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1">First Name</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="e.g. Jhon">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Last Name</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="e.g. Doe">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Email address</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="john@example.com">
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-block">SIGN UP</button>
                </div>
                <hr>
                <div class="form-group">
                  <button class="btn btn-primary btn-block">Continue With Facebook</button>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-block">Continue With Google</button>
                </div>
                <hr>
                <div class="form-group">
                  <a href=""> I will Sign up Later</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<div class="container-fluid home_s2_bg">
  <div class="container">
    <div class="row ">
      <div class="col-md-4 align-middle mt10 ">
        <div class="form-group row">
          <span class="fa fa-file-text-o fa-3x "></span>
          <div class="col-sm-10">
            Answer simple surveys, earn points and redeem free gift cards.
          </div>
        </div>
      </div>
      <div class="col-md-4 mt10">
        <div class="form-group row">
          <span class="fa fa-database fa-3x "></span>
          <div class="col-sm-10">
            Over 280K points earned and redeemed for rewards.
          </div>
        </div>

      </div>
      <div class="col-md-4 mt10">
        <div class="form-group row">
          <span class="fa fa-users fa-3x "></span>
          <div class="col-sm-10">
            Join over 22K+ people to avail free gift cards.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-->Secion 3</!-->
<div class="jumbotron jumbotron-fluid text-black">
  <div class="container">
    <h4 class="display-6">GETTING STARTED</h4>
    <p class="lead">Getting started and earning your favorite gift cards is very easy.</p>
  </div>
  <div class="container">
    <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img class=" mx-auto img-responsive mt10" src="./assets/images/step1_signup.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Sign Up for LifeTap account</h5>

        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card">
        <img class=" mx-auto img-responsive mt10" src="./assets/images/step1_signup.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Access reward opportunities</h5>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class=" mx-auto img-responsive mt10" src="./assets/images/step1_signup.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Redeem Points for Gift Cards.</h5>

        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<!-->Secion 3 End</!-->


<!-->
Section 4
</!-->
<div class="jumbotron jumbotron-fluid home_s4_bg">
  <div class="container">
    <h4 class="display-6">GIFT CARD BRAND YOU LOVE</h4>
    <p class="lead">Getting started and earning your favorite gift cards is very easy.</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-6 mt10">
        <img src="./assets/images/cards/amazon.png" alt="Avatar" class="img-responsive" style="width: 100%; height: auto;">
      </div>
      <div class="col-md-3 col-6 mt10">
        <img src="./assets/images/cards/sephora.png" alt="Avatar" class="img-responsive" style="width: 100%; height: auto;">
      </div>
      <div class="col-md-3 col-6 mt10">
        <img src="./assets/images/cards/sephora.png" alt="Avatar" class="img-responsive" style="width: 100%; height: auto;">
      </div>
      <div class="col-md-3 col-6 mt10">
        <img src="./assets/images/cards/target.png" alt="Avatar" class="img-responsive" style="width: 100%; height: auto;">
      </div>
    </div>
    <div class="row mt10">
      <div class="col-md-3 col-6 mt10">
        <img src="./assets/images/cards/Visa.png" alt="Avatar" class="img-responsive" style="width: 100%; height: auto;">
      </div>
      <div class="col-md-3 col-6 mt10">
        <img src="./assets/images/cards/zappos.png" alt="Avatar" class="img-responsive" style="width: 100%; height: auto;">
      </div>
      <div class="col-md-3 col-6 mt10">
        <img src="./assets/images/cards/geek.png" alt="Avatar" class="img-responsive" style="width: 100%; height: auto;">
      </div>
      <div class="col-md-3 col-6 mt10">
        <img src="./assets/images/cards/gamestop.png" alt="Avatar" class="img-responsive" style="width: 100%; height: auto;">
      </div>
    </div>
  </div>
</div>
<!-->Section 4 End</!-->

<!-->Section 5</!-->
<div class="container-fluid home_s5_bg">
  <div class="container">
    <div class="row ">
      <div class="col-md-3 align-middle mt10 ">

        <span class="lead">Sign Up Now</span>
        <p>
          Sign Up Now so we can send you gift cards and more reward opportunities.
        </p>

      </div>
      <div class="col-md-3  my-auto">
        <button class="btn btn-primary btn-block mt10">Sign in with Facebook</button>

      </div>
      <div class="col-md-3  align-middle my-auto">
        <button class="btn btn-primary btn-block mt10 ">Sign in with Facebook</button>

      </div>
      <div class="col-md-3  my-auto">
        <button class="btn btn-primary btn-block mt10">Sign in with Facebook</button>

      </div>
    </div>
  </div>
</div>
<!-->Section 5 End</!-->
  <app-upper-footer></app-upper-footer>