<div class="jumbotron jumbotron-fluid upper_footer_bg">
  <div class="container">
    <div class="row">
    <div class="col-md-2 col-4">
      <h5>SITEMAP</h5>
      <ul style="list-style: none;">

        <li> <a href="">Home</a>  </li>
        <li> <a href="">Earn</a>  </li>
        <li> <a href="">Redeem</a>  </li>
        <li> <a href="">Chat</a>  </li>
        <li> <a href="">My Profile</a>  </li>
      </ul>
    </div>
    <div class="col-md-2 col-4">
      <h5>RESOURCES</h5>
      <ul style="list-style: none;">

        <li> <a href="">Support</a>  </li>
        <li> <a href="">FAQs</a>  </li>
       
      </ul>
    </div>
    <div class="col-md-2 col-4">
      <h5>TERMS & PRIVACY</h5>
      <ul style="list-style: none;">

        <li> <a href="">Our Privacy Policy</a>  </li>
        <li> <a href="">Terms & Conditions</a>  </li>
        
      </ul>
    </div>
    <div class="col-md-3 col-4">
      <h5>MOBILE APPS</h5>
      <ul style="list-style: none;">

        <li> <a
					href="#"
					target="_blank"><img
						src="./assets/images/btn_playstore.png"  width="80% " height="auto" class="footer-button img-responsive"
						 alt=""></a>  </li>
             
        <li class="mt10"> <a
					href="#"
					target="_blank"><img
						src="./assets/images/btn_appstore.png"  width="80% " height="auto" class="footer-button img-responsive"
						 alt=""></a>  </li>
        
      </ul>
    </div>
    <div class="col-md-3 col-5">
      <h5>GET IN TOUCH</h5>
      <ul style="list-style: none;">

        <li><a href="#" target="_blank"><img src="./assets/images/facebook.png"  id=""alt="" /></a>
				<!-- <a href="{{googlePageLink}}" target="_blank"> --><img src="./assets/images/googleplus.png" id=""alt="" /><!-- </a> -->
				<a href="#" target="_blank"><img src="./assets/images/twitter.png" id="" alt="" /></a>
					</li>
       
      </ul>
    </div>

    </div>
  </div>
</div>